.wrapper-table {
  position: relative;
  overflow: auto;
}
.table-custom {
  border: 1px solid #dddddd;
  border-collapse: collapse;
  width: 100%;
}
.table-custom thead {
  background: #8aca2b;
  color: white;
}

.table-custom td,
th {
  text-align: left;
  text-align: center;
}

.table-custom th {
  padding: 15px;
  font-size: 17px;
}

.table-custom td {
  padding: 12px;
  font-size: 15px;
}

.table-custom tbody tr:hover {
  background: #ccc;
}
.tbody-empty {
  height: 100vh;
}

.btn-primary,
.btn-danger {
  padding: 15px;
  border: none;
  color: white;
  cursor: pointer;
  font-weight: bold;
}

.item-bookmarked {
  background: linen;
}

.btn-primary {
  background: #8aca2b;
}

.btn-danger {
  background: red;
}

.mr5 {
  margin-right: 5px;
}

.mb5 {
  margin-bottom: 5px;
}
