.root {
  padding: 20px;
  background: "white";
  flex-grow: 1;
  overflow: hidden;
}

.root .header {
  text-align: center;
  margin-bottom: 40px;
  font-size: 35px;
  color: #8aca2b;
  letter-spacing: 5px;
}
